/* declaring variables with root so they're accessible throughout the site*/
:root {
  --h1-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1rem;

  --text-color: rgb(41, 47, 40);

  --primary-color: #140735;
  --secondary-color: rgb(193, 41, 46);
  /* --dark-primary: #5e0b15; */
  --light-color: #f4f4ed;
  --light-secondary: #ef798a;
}

/* Making general changes that serve as baseplate */
* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Marcellus", serif;
  text-decoration: none;
  overflow-x: hidden;
}

body p {
  font-size: 0.5rem;
}

body {
  background-color: whitesmoke;
}

/* navigation area  */
.navSection {
  height: 100px;
  width: auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 25px;
  color: var(--secondary-color);
  background-color: white;
}

.navLogo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  overflow: hidden;
}

.navLogo a {
  width: 100px;
  height: 100px;
}

/* .navlogo img {
  width: 100px;
  height: 100px;
  position: cover;
  object-fit: cover;
} */
/* .logoImg{
  width: 100%;
  height: 100%;
  position: cover;
  object-fit: cover;
} */

.navLogo h3 {
  text-align: end;
  font-family: "Rubik", sans-serif;
  width: 100px;
  /* border: 1px solid red; */
}

.navHamburger {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1.5rem;
}

/* hero area */
.heroContainer {
  animation: slideshow 25s ease-in-out infinite;
  background-size: cover;
  height: 450px;
  width: auto;
}

.heroMain {
  height: 100%;
  background: linear-gradient(to bottom,
      rgba(41, 47, 40, 0.988),
      rgba(41, 47, 40, 0.4));
  padding: 20px 50px;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: left;
}

.heroContent h1 {
  font-family: "Marcellus", serif;
  font-weight: 900;
  font-size: 3rem;
}

.heroContent p {
  margin: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: justify;
}

button {
  background-color: var(--secondary-color);
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  padding: 8px;
}

button a {
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.heroContent i {
  float: right;
}

/* home about section */
.home-about {
  color: var(--text-color);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-about-tag p {
  font-family: "Rubik", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.home-about-title h3 {
  font-size: 2rem;
  color: var(--primary-color);
}

.home-about-text p {
  font-size: 1rem;
  text-align: justify;
  font-weight: 400;
}

.home-about-button {
  margin: 20px 10px;
}

.image-container img {
  border: 1px solid saddlebrown;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.excellence {
  background-image: linear-gradient(to bottom,
      rgba(193, 41, 46, 0.98),
      rgba(193, 41, 46, 0.88)),
    url(/assets/global\ connection\ lines.webp);

  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

}

.excellence-video {
  border: 1px solid white;
  height: 150px;
  width: 100%;
}

.excellence-video video {
  object-fit: cover;
}

.excellence-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.excellence-text h2 {
  font-size: 2rem;
}

.excellence-text h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.excellence-text p {
  font-family: "Rubik", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--primary-color);
}

.excellent-services {
  border: 2px solid white;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 6px 20px -5px;

  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;

}
.service{
  /* border: 1px solid yellow; */
  width: 100%;
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding: 5px;
}
.service i{
  border: 1px dashed var(--light-color);
  border-radius: 50%;
  padding: 5px;
}
.service p{
  font-weight: 600;
  font-size: 0.5rem;
}


.statistics {
  margin-top: 20px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 700px;

  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.98),
      rgba(255, 255, 255, 0.92)),
    url(/assets/globe\ africa.webp);

}

.statistic-one {
  color: var(--primary-color);
  border: 1px solid var(--light-secondary);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  color: whitesmoke;


  background-color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.9) 0px 6px 20px -5px;
}

.statistic-one h3 {
  font-size: 25px;
}

.statistic-one p {
  padding: 0px 20px;
}

#statistic-text-icon {
  margin-left: 5px;
}

.statistic-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--light-secondary);
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: var(--secondary-color);
}


/* footer section */
footer {
  font-family: "Marcellus", serif;
  font-weight: 800;
  border: 1px solid red;
  color: var(--light-color);
  background-color: var(--secondary-color);

  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: space-around;
  border: 2px solid sienna;
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  /* align-items: center; */
  gap: 7px;
}
.footer-section i{
  margin-right: 5px;
}

footer h2 {
  font-size: 20px;
  overflow: hidden;
}

footer h3 {
  font-size: 10px;
  color: var(--light-color);
}
#footer-locator{
  background-color: var(--light-color);
  overflow: hidden;
  border: 1px solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 6px 20px -5px;
  border-radius: 10px;
font-weight: 700;
  width: 100px;
  height: 100px;
  margin: 20px 0;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
  padding: 15px;
}
#footer-locator a{
  color: var(--secondary-color);
}

/* copyright section */
.copyright{
  display: flex;
  justify-content: center;
  background-color: var(--light-color);
  color: var(--primary-color);
}



/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
  } */

/* animations  */
@keyframes slideshow {

  0%,
  66% {
    background-image: url(/assets/fuel-pump-nozzle.jpg);
  }

  16%,
  100% {
    background-image: url(/assets/red-nozzle.jpg);
  }

  32% {
    background-image: url(/assets/fuel-pump-nozzle2.jpg);
  }

  50%,
  88% {
    background-image: url(/assets/green-nozzle.jpg);
  }
}
